node_modules/

uploads/avatars/*
!uploads/avatars/.gitkeep

uploads/products/*
!uploads/products/.gitkeep

uploads/promotions/*
!uploads/promotions/.gitkeep

uploads/payment-slips/*
!uploads/payment-slips/.gitkeep